env {
  TMPDIR = "\${TMPDIR:-\${NXF_TEMP:-\$(mktemp -d)}}"
  APPTAINER_DISABLE_CACHE = "True"

  CMD_OUTRIDER_FRASER = "apptainer exec ${projectDir}/containers/rna_outliers_hg19hg38.sif"
  CMD_MAE = "apptainer exec ${projectDir}/containers/mae.sif"
  CMD_REPORT= "apptainer exec ${projectDir}/containers/report.sif"
}

process {
    executor="slurm"
    errorStrategy = 'ignore'
    containerOptions = "--bind ${projectDir}"
}
params {
    genomeBuild = "hg19"
    mode = "counts"
    featurecounts {
        genes_gtf="/groups/umcg-gdio/tmp02/projects/pid/resources_tim/resources/gtf/gencode.v29lift37.annotation.gtf"
    }
    extcounts {
        folder="/groups/umcg-gdio/tmp02/projects/pid/resources_tim/resources/counts/GTEX/Whole_Blood--hg19--gencode29"
        amount_outrider=0
        amount_fraser=0
    }
    samplesheet="/groups/umcg-gdio/tmp02/umcg-tniemeijer/rna/runs/run_1_test/samplesheet_test_counts.txt"
    fastafolder="/groups/umcg-gdio/tmp02/umcg-tniemeijer/1000G/phase1"
    fasta="phase1/human_g1k_v37_phiX.fasta.gz" 
    output="/groups/umcg-gdio/tmp02/umcg-tniemeijer/rna/runs/run_1_test"
    
    fraser {
        frasercountsR="${projectDir}/fraser/frasercounts.R"
        mergescriptR="${projectDir}/fraser/merge_counts.R"
        fraserR="${projectDir}/fraser/fraser.R"
    }
    outrider {
        outridercountsR="${projectDir}/outrider/featurecounts.R"
        mergecountsR="${projectDir}/outrider/mergecounts.R"
        outriderDatasetR="${projectDir}/outrider/create_outrider_dataset.R"
        outriderOptimR="${projectDir}/outrider/outrider_optim.R"
        mergeQFiles="${projectDir}/outrider/merge_qfiles.R"
        outriderR="${projectDir}/outrider/outrider.R"
    }
    mae {
        resultsR="${projectDir}/MAE/get_MAE_results.R"
        annotateGeneR="${projectDir}/MAE/get_gene_annotations.R"
    }
    report {
        htmlTemplate="${projectDir}/html_report/template.html" 
        embedScript="${projectDir}/html_report/embed_data.py"
    }
    
}
workDir="${params.output}/work"
